@charset "utf-8";

.live_review_txt{
    width:100%;
}
.live_review_txt > p{
    text-align: center;
    font-size:1.3rem;
    margin-bottom:10px;
    border-bottom:1px solid #F0F0F3;
    line-height:50px;
    font-weight: 600;
}
.slick_wrap{
    padding:15px 10px 24px; 
    width:100%;
    position: relative;
    box-sizing: border-box;
}
/* Slider */

.slick-slide {
    margin: 0px 5px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    width:100%;
}
.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0px;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

/* .slide_box{
    display:flex;
    justify-content: space-between;
    width:100%;
} */
/* .profile{
    width:10%;
    margin-left:10px;
} */
/* .profile_img-box{
    width:48px;
    height:48px;
    border: 1px solid #ccc;
} */
/* .profile img{
    width:100%;
    transform: translateY(0px) !important;
} */
/* .review_txt{
    width:85%;
    padding:0px 15px;
} */
.slick-slider span{
	width:100%;
    height:134px;
    overflow: hidden;
	display:block;
	letter-spacing:-0.07rem;
	font-family:'맑은 고딕', sans-serif, arial !important;
	line-height:22px;
    padding-top:12px;
	/* white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis; */
	font-size:0.938rem;
	font-weight:400;
	color:#5a5a5a;
    margin: 0px auto;
}

.review_txt img{
    width:100%;
    max-height:280px;
    object-fit: cover;
    border-radius: 4px;
}

.profile_img-box{
    width:100%;
    display:flex;
}
.profile_img-box > .img_frame{
    width:35px;
    height:35px;
    padding:3px;
    border: 1px solid #e8e8e8;
}
.profile_img-box > .img_frame > img{
    width:100%;
    object-fit: cover;
}
.profile_img-box > .name_frame{
    margin-left:4px;
    padding: 6px 0px;
}
.profile_img-box > .name_frame > h6{
    letter-spacing: -0.04em;
    color: #000000;
    font-size:0.750rem;
    font-weight: 600;
}
.profile_img-box > .name_frame > .star{
    color:#FFB525;
    line-height:19px;
}

.review_txt-box{}
.review_txt-box > span{}
.review_txt-box > img{
    padding-top:20px;
    width:calc(100% - 25px);
    margin:0px auto;
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}
.review_txt h6{
    letter-spacing: -0.04em;
    color: #000000;
    font-size:0.813rem;
    font-weight: 600;
}
.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.review_more{
    display:block;
    width:calc(100% - 32px);
    margin:12px auto 0px;
    text-align:center;
    border-radius:4px;
    border:1px solid #A3B9F1;
    color:#4F8EF7;
    /* padding:15px 0px; */
    line-height: 51px;
    height: 51px;
    font-size:0.938rem;
    font-weight:bold;
    font-family:"Noto Sans Kr";
    
    /* position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); */
    letter-spacing: -0.5px;
}
.review_more img{
    position: absolute;
    right:15%;
    bottom:3%;
    width:6%;
    animation: mousepointer 1s infinite;
    transform: rotate(30deg);
}
@keyframes mousepointer{
    0%, 100%{
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    50%{
        -webkit-transform: translate(10px, 10px);
        -ms-transform: translate(10px, 10px);
        transform: translate(10px, 10px);
    }
}