@charset "utf-8";

footer{
    width: 100%;
    border-top: 1px solid #DADADA;
  }
  footer > .f_inner{
    width: 1100px;
    margin: 0px auto;
    padding: 68px 0 107px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  footer > .f_inner > .f_left{
    position: relative;
    width: 70%;
  }
  footer > .f_inner > .f_left::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 39px;
    width: 1px;
    height: 188px;
    background: #E7E7E7;
  }
  footer > .f_inner > .f_left > h1{
    width: 253.83px;
  }
  footer > .f_inner > .f_left > h1 > img{
    width: 100%;
    transform: translateX(-3px);
  }
  footer > .f_inner > .f_left > .f_gnb{
    display: flex;
    justify-content: flex-start;
    margin: 15px 0 23px;
  }
  footer > .f_inner > .f_left > .f_gnb > li{
    
  }
  footer > .f_inner > .f_left > .f_gnb > li > a{
    display: block;
    font-weight: 650;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: -0.04em;
    color: #656565;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  footer > .f_inner > .f_left > .f_gnb > li > a::after{
    content: "|";
    margin: 0 9px;
    color: #656565;
    font-size: 12px;
    transform: translateY(-1px);
  }
  footer > .f_inner > .f_left > .f_gnb > li:last-child > a::after{
    content: none;
  }
  footer > .f_inner > .f_left > .f_info > li{
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: -0.01em;
    color: #A6A6A6;
  }
  footer > .f_inner > .f_left > .f_info > li > span{
    font-weight: 500;
  }
  footer > .f_inner > .f_left > address{
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #A6A6A6;
    padding-top: 21px;
  }

  footer > .f_inner > .f_right{
    padding-top: 40px;
  }
  footer > .f_inner > .f_right > .f_right_con > li > img{
    width: 153px;
    display: block;
    margin-bottom: 5px;
  }
  footer > .f_inner > .f_right > .f_right_con > li > a{
    display: block;
    width: 92px;
    height: 20px;
    line-height: 20px;
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    font-weight: 450;
    font-size: 12px;
    letter-spacing: -0.01em;
    color: #B2B2B2;
    text-align: center;
    margin-bottom: 18px;
  }
  footer > .f_inner > .f_right > .f_right_con > li > p{
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #A6A6A6;
  }